@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    word-break: break-word !important;
}

body {
    @apply text-base text-gray-100 #{!important};
}

.app {
    min-height: 100vh;
}

a {
    color: inherit !important;
}

.fade-enter-active, .fade-leave-active {
    opacity: 1;
    animation: acrossIn .15s ease-out both, opacity .15s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
    transition: opacity 0.15s linear;
}

@keyframes acrossIn {
    0% {
        transform: translate3d(-5%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.shadow-light {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.inject-html {
    table {
        td {
            @apply border border-gray-20;
        }
    }
}

// Full Calendar
.fc {
    .fc-toolbar {
        &-title {
            @apply text-prim-100 font-semibold uppercase text-xl #{!important};
        }
        button {
            @apply bg-blue-100 border-blue-100 #{!important};
        }
    }
}

.title-content {
    @apply text-blue-60 font-bold text-[32px]
}

.title-sub-content {
    @apply text-blue-60 text-lg
}